<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite_AndroidSettings">
    <test name="AndroidSettings" enabled="true" preserve-order="true">
        <classes>
              <class name="com.prometheanworld.Receiver.Receiver.ScreenShareTest"/>
        </classes>
    </test>
</suite>
